<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#242424">
    <title>{{ block "title" . }}{{.Title}}{{ end }}</title>
    <base href="{{ .Site.BaseURL }}">
    <link rel="stylesheet" href="style.css?v={{ readFile "static/style.css" | md5 }}">
  </head>
  <body>
    <main>
      <header>
        {{ block "header" . }}<h1>{{ .Title }}</h1>{{ end }}
      </header>
      {{ block "main" . }}{{ .Content }}{{ end }}
    </main>
    <footer>{{ block "footer" . }}
      &copy; <a href="https://github.com/olanod" rel="author">olanod</a>{{ end }}
    </footer>
  </body>
</html>
